#bloque-sonido {
  display: flex;
  position: fixed;
  bottom: 1rem;
  left: 1%;
  cursor: pointer;
}

#cuadro {
  border: solid 1px black;
  height: 1rem;
  width: 1.2rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  overflow: hidden;
}

#sonido {
  display: flex;
  align-content: center;
  margin-right: 0.5rem;
  height: 1rem;
  color: white;
}

p {
  display: flex;
  align-self: center;
  margin: 0;
}

.barra {
  width: 5px;
  background-color: gray;
  height: 40%; /* Altura inicial de la barra */
  animation: sound 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
  transform-origin: bottom;
}
  
/* Animación desactivada */
.inactivo .barra {
  animation: none;
  background-color: lightgray;
}
  
/* Animación activa */
.activo .barra {
  animation-play-state: running;
  background-color: white;
}
  
/* Keyframes para las barras */
@keyframes sound {
  0% {
    transform: scaleY(0.3);
  }
  25% {
    transform: scaleY(1.2);
  }
  50% {
    transform: scaleY(0.7);
  }
  75% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(0.4);
  }
}