.bar {
    position: fixed;
    top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 1005;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.volver-container,
.hamburger-container {
    z-index: 1001;
    /* para asegurar que estén encima */
}

.hamburger-btn {
    position: fixed;
    right: 5%;
    top: 5.7%;
}

.volver {
    top: 5%;
    left: 5%;
}