.logol {
    width: 20rem;
    margin-top: 1rem;
}

@media (max-width: 940px) {
    .logol {
        max-width: 15rem;
        margin-top: 0;
    }

    .contenedor-logogeneral {
        bottom: 80%;
    }
}

@media (max-width: 640px) {
    .logol {
        max-width: 15rem;
        margin-top: -1rem;
        margin-left: 1.5rem;
    }
}

@media (max-width: 435px) {
    .logol {
        width: 10rem;
        margin-top: -3.9rem;
        margin-left: 1.5rem;
    }

    .contenedor-logogeneral {
        bottom: 80%;
    }
}

@media (max-width: 391px) {
    .contenedor-logogeneral {
        bottom: 78%;
    }
}

@media (max-width: 376px) {
    .contenedor-logogeneral {
        bottom: 75%;
    }
}

@media (max-width: 361px) {
    .contenedor-logogeneral {
        bottom: 77%;
    }
}

/* @media (min-width: 410px) {
    .logol {
        width: 3rem
    }
} */