.menuBtn {
    width: 15px;
    height: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .menuBtn__burger {
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  
  .menuBtn__burger::before,
  .menuBtn__burger::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  
  .menuBtn__burger::before {
    transform: translateY(-6px);
  }
  
  .menuBtn__burger::after {
    transform: translateY(6px);
  }
  
  .menuBtn.open .menuBtn__burger {
    transform: translateX(-50px);
    background: transparent;
  }
  
  .menuBtn.open .menuBtn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  
  .menuBtn.open .menuBtn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  