@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceGrotesk";
  src: url("public/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Sora";
  src: url("public/fonts/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Sora", sans-serif;
}

.a-enter-vr-button {
  display: none;
}

@layer components {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #7B1AD8;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #925BC0;
  }

  ::-webkit-scrollbar-track {
    background: #F7FAFC;
    border-radius: 9999px;
  }
}

/***************************************** Styles Letters *****************************************/

h1 {
  font-weight: bold !important;
  font-size: 2.3rem !important;
}

h2 {
  font-weight: bold !important;
  font-size: 1.9rem !important;
}

h3 {
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

p {
  font-size: 18px !important;
}

a {
  font-size: 18px;
}

span {
  font-size: 30px;
}

input::placeholder {
  font-size: 18px;
}


/***************************************** General Styles *****************************************/

.transition-transform {
  transition: transform 1s ease-in-out;
}

/***************************************** Media Queries *****************************************/

@media (max-width: 1024px) {
  /* h1 {
    font-size: 1.8rem; 
  }
  
  h2 {
    font-size: 1.4rem; 
  }
  
  p {
    font-size: 16px; 
  }

  a {
    font-size: 16px; 
  }

  span {
    font-size: 16px; 
  } */

  input::placeholder {
    font-size: 16px;
  }
  
}

@media (max-width: 940px) {
  .titulos-portales {
    font-size: 20px;
  }

  .logo {
    max-width: 25rem;
  }

  .logol {
    max-width: 25rem;
  }

  .contenedor-logo {
    bottom: 60%;
  }

  h3 {
    font-weight: bold !important;
    font-size: 1.3rem !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem; 
  }
  
  h2 {
    font-size: 1.5rem !important; 
  }

  h3 {
    font-weight: bold !important;
    font-size: 1.1rem !important;
  }
  
  p, a {
    font-size: 16px !important;
  }

  span {
    font-size: 25px;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.7rem;
  }
  
  h2 {
    font-size: 1.4rem !important;
  }

  h3 {
    font-weight: bold !important;
    font-size: 1.1rem !important;
  }
  
  p, a {
    font-size: 16px !important; 
  }

  span {
    font-size: 25px;
  }

  .flecha-izquierda {
    right: 90%;
  }

  .logo {
    max-width: 20rem;
  }

  .logol {
    max-width: 20rem;
  }
}

@media (max-width: 500px) {
  .terminos {
    flex-direction: column;
  }

  .custom-button {
    /* width: 40px;
    height: 30px; */
    bottom: 45%;
  }
}

@media (max-width: 391px) {
 
  #bloque-sonido {
    top: 95%;
    /* width: 2rem; */
  }
  
  
}