.hamburger-btn {
    font-size: 14px;
    height: 36px;
    width: 36px;
    background: none;
    border: none;
    cursor: pointer;
    /* position: absolute; */
    top: 5%;
    right: 5%;
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background: none;
    border: solid white 2px;
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
}

.menuBtn__burger {
    width: 15px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.menuBtn__burger::before,
.menuBtn__burger::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.menuBtn__burger::before {
    transform: translateY(-6px);
}

.menuBtn__burger::after {
    transform: translateY(6px);
}

.hamburger-btn.open .menuBtn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.hamburger-btn.open .menuBtn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburger-btn.open .menuBtn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}