@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
/* Estilos generales */

body {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  text-align: center;
  position: relative;
}

/* Botón hamburguesa */
/* .hamburger-btn {
  font-size: 14px;
  height: 36px;
  width: 36px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5px;
  z-index: 1002;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
} */

/* Sidebar (menú lateral) */
.sidebar {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  right: -50%;
  /* Oculto por defecto, ajustado al ancho del sidebar */
  overflow-x: hidden;
  transition: right 0.5s ease;
  /* Transición suave al abrir/cerrar */
  padding-top: 60px;
  z-index: 15;
  /* Para superponerse sobre el canvas */
  border-right: 2px solid rgb(255, 255, 255);
  border-left: 2px solid black;
  background-color: white;
}

.sidebar.open {
  right: 0;
  /* Visible cuando el sidebar está abierto */
  padding-right: 150px;
  padding-left: 100px;
  border-radius: 10px 0px 0px 10px;
  z-index: 1001;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  /* font-size: 30px; */
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebarc {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  right: -50%;
  /* Oculto por defecto, ajustado al ancho del sidebar */
  overflow-x: hidden;
  transition: right 0.5s ease;
  /* Transición suave al abrir/cerrar */
  padding-top: 60px;
  z-index: 1001;
  /* Para superponerse sobre el canvas */
  border-right: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  background-color: white;
  color: black;
  border-radius: 10px;
}

.sidebarc.open {
  right: 0;
  /* Visible cuando el sidebar está abierto */
  padding-right: 0%;
  padding-left: 0%;
}

.sidebarc a {
  padding: 10px 15px;
  text-decoration: none;
  /* font-size: 22px; */
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidebarc a:hover {
  background-color: #575757;
}

.sidebarh {
  height: 100%;
  width: 100%;
  position: fixed;
  top: -100%;
  /* Oculto al inicio */
  overflow-x: hidden;
  transition: top 0.5s ease;
  /* Transición para 'top' */
  padding-top: 60px;
  z-index: 15;
  border-right: 2px solid rgb(255, 255, 255);
  border-left: 2px solid black;
  background-color: rgba(255, 255, 255, 1);
  z-index: 100;
}

.sidebarhm {
  height: 100%;
  width: 100%;
  position: fixed;
  top: -100%;
  /* Oculto al inicio */
  overflow-x: hidden;
  transition: top 1s ease;
  /* Transición para 'top' */
  padding-top: 60px;
  z-index: 50;
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  /* Más intenso */
  border-left: 2px solid black;
  background: linear-gradient(to top,
      rgba(255, 255, 255, 0.8) 60%,
      /* Más intenso abajo */
      rgba(255, 255, 255, 0.3) 85%,
      /* Difuminado intermedio */
      rgba(255, 255, 255, 0.1) 100%
      /* Menos visible arriba */
    );
}

.sidebarhm.open {
  top: 0;
  /* Visible cuando el sidebar está abierto */
}

.sidebarhm a {
  padding: 10px 15px;
  text-decoration: none;
  /* font-size: 22px; */
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidebarhm a:hover {
  background-color: #575757;
}

.sidebarh.open {
  top: 0;
}

.sidebarh a {
  padding: 10px 15px;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidebarh a:hover {
  background-color: #575757;
}

/* Overlay cuando el sidebar está abierto */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

/* Estilos del hotspot */
.hotspot {
  position: fixed;
  top: 50vh;
  right: 130vh;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 30;
  /* Superponerse sobre el Canvas */
  width: 5px;
}

.infoplus {
  position: fixed;
  top: 300px;
  left: 10%;
  width: 15%;
  height: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  /* Cambiar a columna para apilar los elementos */
  align-items: flex-start;
  /* Alinear los elementos al inicio del eje */
  justify-content: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.9),
    /* sombra principal fuerte */
    6px 6px 6px rgba(0, 0, 0, 0.7),
    /* sombra secundaria para dar profundidad */
    9px 9px 9px rgba(0, 0, 0, 0.5);
  /* sombra terciaria para mayor intensidad */
  z-index: 30;
}

/* Estilos del modal */
.modal {
  position: fixed;
  top: 0;
  right: -100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo oscuro semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  /* Asegúrate de que esté sobre otros elementos */
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

/* Botón para cerrar el modal */
.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}

.confirm-button,
.cancel-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button {
  background-color: #f44336;
  /* Rojo para el botón de Salir */
  color: white;
}

.cancel-button {
  background-color: #4CAF50;
  /* Verde para el botón de Cancelar */
  color: white;
}

/* Lista de enlaces dentro del sidebar */
.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  /* Centrar en la sidebar */
  color: white;
  padding-top: 5%;
}

.lista li {
  list-style: none;
  /* Sin puntos de lista */
  display: inline-block;
  text-align: justify;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: black;
  /* Color inicial */
  font-family: "Sora", sans-serif;
  font-size: x-large;
}

/* Estilo al pasar el ratón por encima de un elemento */
.lista li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  /* Fondo claro */
}

/* Reducir opacidad a los elementos no seleccionados */
.lista:hover li:not(:hover) {
  color: rgba(0, 0, 0, 0.3);
  /* Color desvanecido */
}

.imagenl {
  position: fixed;
  top: 10%;
  /* Ajusta según necesites */
  left: 50%;
  /* Ajusta según necesites */
  transform: translate(-50%, -50%);
  z-index: 10;
  /* Asegúrate de que esté encima del modelo */
  pointer-events: none;
  /* Para que no interfiera con otros clics */
  width: 30%;
}

/* Lista de enlaces dentro del sidebar */
.listan {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0;
  margin: 0;
  width: 100%;
  /* Centrar en la sidebar */
  color: white;
}

.listan li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: black;
  /* Color inicial */
  font-family: "Sora", sans-serif;
}

@media (max-width: 375px) and (max-height: 667px) {
  .sidebarc.open {
    width: 60%;
  }
}

.fotocontacto {
  background-color: null;
  width: 100%;
  /* Tamaño del contenedor */
  height: 100%;
  /* Altura deseada */
}

@media (min-width: 300px) and (max-width: 500px) and (min-height: 667px) {
  .sidebarc.open {
    width: 100%;
    right: 0;
    /* Visible cuando el sidebar está abierto */
    padding-right: 10%;
    padding-left: 0%;
  }
}

/* Estilo para el contenedor paralelo */
.alvi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* Espacio entre el video y la imagen */
  padding: 20px;
}

/* Estilo para la imagen */
.fotocontactoo {
  width: 40%;
  max-width: 300px;
  /* Tamaño máximo de la imagen */
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra para dar profundidad */
}

/* Media Queries para dispositivos más pequeños */
@media (max-width: 768px) {
  .alvi {
    flex-direction: column;
    /* Cambiar a columna en pantallas más pequeñas */
    gap: 15px;
    /* Reducir el espacio entre los elementos */
  }

  .fotocontactoo {
    max-width: 100%;
    /* Ajustar ancho para pantallas pequeñas */
  }
}

@media (min-width: 375px) {
  .alvi {
    padding: 10px;
  }

  .fotocontactoo {
    max-width: 90%;
    /* Ajustar aún más para pantallas muy pequeñas */
  }
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

@media screen and (max-width: 400px) {
  .listan li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    /* Evita que se coloquen en columnas */
  }

  .infocontacto {
    font-size: 12px;
    /* Reduce el tamaño del texto */
    width: 50%;
    /* Reduce el ancho del div de contacto */
    margin-left: 10px;
    /* Espaciado más pequeño */
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    text-align: "justify";
  }

  .listan li>Viewer {
    width: 45% !important;
    /* Reduce el tamaño del modelo */
    height: 45% !important;
  }
}

.alvy-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 5.5rem;
  /* Ajuste de tamaño */
  height: 10%;
  background-color: rgb(123 26 216);
  border-radius: 20px;
}

.alvy-button {
  color: white;
  background: none;
  border: none;
  font-size: 0.1em;
  /* Se ajusta proporcionalmente al tamaño del contenedor */
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.5);
  /* Ajusta tamaño dentro del contenedor  */
}