
.contenedor-texto {
    display: flex;
    flex-direction: column;
    scroll-behavior: auto;
    height: 30rem;
}

@media (max-width: 940px) {
    .contenedor-texto {
        margin-top: 4rem;
    }

    .imagen-circulo {
        max-width: 8rem;
        max-height: 8rem;
    }
}

@media (max-width: 845px) {
    .contenedor-grande {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .imagen-circulo {
        max-width: 7rem;
        max-height: 7rem;
    }

    .contenedor-texto {
        margin-top: 1rem;
        align-items: center;
    }
    
}

@media (max-width: 435px) {
    .imagen-circulo {
        max-width: 7rem;
        max-height: 7rem;
    }

    .contenedor-texto {
        flex-direction: column;
        /* flex-wrap: wrap; */
        margin-top: 1.5rem;
        align-items: center;
        justify-content: flex-start;
    }
    .contenedor-grande {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .titulo {
        font-size: 1.6rem;
    }
}

@media (max-width: 391px) {
    .contenedor-texto {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
        align-content: flex-start;
        justify-content: center;
    }
}

/* @media (max-width: 376px) {
    .logol {
        max-width: 20rem;
    }
}

@media (max-width: 361px) {
    .logol {
        max-width: 20rem;
    }
} */
