@tailwind base;
@tailwind components;
@tailwind utilities;

.color-picker {
    height: 2rem;
    width: 2rem;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    gap: 20px;
    margin: 5px;
    border-radius: 50%;
    line-height: 1rem; 
}

@media (max-width: 1024px) {
  .color-picker {
      height: 1.7rem;
      width: 1.7rem;
  }
}

.env-picker {
  margin: 10px;
}

.highlighted {
  border: 2px solid rgb(255, 0, 0);
}
