name: Deploy DEV to GitHub Pages

on:
  push:
    tags:
      - 'v*-beta'

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install

      - name: Build DEV
        run: npm run build
        env:
          NEXT_PUBLIC_ENV: dev

      - name: Deploy DEV
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          destination_dir: dev
