name: Deploy PROD to GitHub Pages

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install

      - name: Build PROD
        run: npm run build
        env:
          NEXT_PUBLIC_ENV: prod

      - name: Deploy PROD
        if: ${{ !contains(github.ref_name, 'beta') }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          force_orphan: true
